*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d495d;
    font-family: 'Poppins', sans-serif;
    color: white;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: fixed;
    top:0;
    width: 100%;
}
#pcs1{
    color: aliceblue !important;
    cursor: pointer;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;

}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 500px;
    /* position: fixed;  */
}
.nav-links li{
    list-style: none;
    
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
   /* letter-spacing: 3px; */
    font-weight: bold;
    font-size: 14px;
    
}
@media screen and (max-width: 375px){
body{
    overflow-x: hidden;
}

   .nav-links{ 
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 8vh;
       background-color: #5d4954;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 500px;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
   }

   .nav-links li{
       opacity: 0;
       color: white;

   }
   .burger{
       display: block;
       color: white;
   }
   
}
@media screen and (max-width:1000px){
    
    .nav-links{
        width: 500px;
        position: fixed; 
       
    }
}
.nav-active{
    transform: translateX(0);
    
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translatex(50px);
        
    }
    to{
        opacity: 1;
        transform: translateX(0px);
        
    }
}
#text{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin-top: 100px;
}
#inner-text{
margin-top: 50px;
}
#inner-text1{
    margin-top: 50px;
    opacity: 0.7;
    font-size: 20px;
    justify-content: space-around;
    }

.color1{
   color: rgb(182, 24, 24)
    }

    .color2{
        color: rgb(12, 8, 68)
         }
         .color3{
            color: rgb(247, 235, 68)
             }
         
             .color4{
                color: rgb(25, 0, 253)
                 }
                 
     
     
.blue-text{
    color: blue;
}
#margin2{
    margin-top: 30px;
    line-height: 36pt;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}