#img1{
    border-radius: 50%;
    width: 200px;
    box-shadow: 0 4px 16px 0 black;
    transition: 0.3s;
}

#img2{
    border-radius: 50%;
    width: 200px;
    box-shadow: 0 4px 16px 0 black;
    transition: 0.3s;
}

#img3{
    border-radius: 50%;
    width: 200px;
    box-shadow: 0 4px 16px 0 black;
    transition: 0.3s;
}

#img1:hover{
   
    box-shadow: 0 4px 26px 0 black;
    transition: 0.3s;
}

#img2:hover{
   
    box-shadow: 0 4px 26px 0 black;
    transition: 0.3s;
}

#img3:hover{
    
    box-shadow: 0 4px 26px 0 black;
    transition: 0.3s;
}

.team-inner{
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin-left: 300px;
    margin-top: 60px;
    
}
.team1{
text-align: center;
margin-top: 100px;

}
.team{
    background-color: rgb(71, 129, 253);
    padding-top: 1px;
    padding-bottom: 300px;
    margin-top: 230px;
    font-family: 'Poppins', sans-serif;
    color: white;
}