#androidImg{
     width: 500px;
}
.first-technologyDiv{
    margin-top: 70px;
}

.technology-flex{
    display: flex;
    margin-left: 30px;
}
.technology-text-center{
    margin-top: 200px;
    text-align: center;
    line-height: 3pt;
   
}
.second-technologyDiv{
    margin-top: 100px;
    margin-left: 200px;
}
.technology{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
  padding-top: 1px;
}
#p9{
    color: rgb(163, 158, 158);
}
.second-inner-technology{
    margin-top: 200px;
}
.second-inner-technologyDiv{
    margin-left: 200px;
    margin-top: 100px;
    justify-content: space-around;
    width: 500px;
}
